$primary-color: #1890ff;
$strong-color: red;
$font-color: #e9e9e9;

@mixin ellipsis($line:1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
